/*float ok to have multiple going down */
.ui-card{
	float: left;
	width: 50%;
}
.left-align {
	text-align: left;
}
.right-align {
	text-align: right;
}
.img-circle {
    border-radius: 50%;
}
.avatar {
	max-width: 2em;
}
.center {
	text-align: center;
}